!!!5
each project in records
    div
        | Project: #{project.name} for #{project.companyName}
    div
        | Project ID: #{project.id}
    div
        | Status: #{project.status}
    div
        | --------------------------------
